.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
 
  .mainContent {
    display: flex;
    flex: 1;
  }
 
  .content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
 
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
 
  .sortButton {
    padding: 10px 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
 
  .candidatesTable {
    margin-bottom: 20px;
  }
 
  .candidatesTable table {
    width: 100%;
    border-collapse: collapse;
    color:black;
  }
 
  .candidatesTable th, .candidatesTable td {
    padding: 8px;
    border: 1px solid black;
    text-align: left;
  }
 
  .candidatesTable th {
    background-color: #f2f2f2;
  }
 
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
 
  .pagination button {
    background-color: transparent;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 18px;
  }
 
  .pagination span {
    margin: 0 10px;
    color: black;
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modalContent {
    background-color: #38a169;
    color: #000;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-height: 80%;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modalTitle {
    margin-top: 0;
    text-align: center;
    font-weight: 600;
  }
  
  .closeButton {
    background-color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
  }
  
  .topic {
    margin-bottom: 20px;
  }
  
  .topicTitle {
    text-align: center;
    font-weight: 600;
  }
  
  .candidateTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .candidateTable th,
  .candidateTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .candidateTable th {
    background-color: #f2f2f2;
  }
  
  .scoreTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .scoreTable th,
  .scoreTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .scoreTable th {
    background-color: #f2f2f2;
  }
  
  
  
  
