@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
    background: #EAFBEE;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.icon-hidden{
  visibility: hidden;
}
.navbar{
  color: #586F55;
  font-family:'Lato',sans-serif ;
  background-color: #F8F8FB;
  width: 100%;
  max-width: 100%;
  overflow-x: visible;
  /* overflow: hidden; */

}
.navcolor{
  color:#6D836C
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn{
  font-size: 16px;
  border:none;
  outline: none;
  color:black;
  padding: 14px 16px;
  /* background-color: inherit; */
  font-family: inherit;
  margin: 0;
}
.dropdown:hover{
  background-color: black;

}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: red;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: yellow;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* .sidebar{
  color:#274c77;
  font-family: 'Lato',sans-serif;
  text-align: center;
  position: absolute;
  box-sizing: border-box;
  font-weight: 600;
  

} */
.sidebarN{
  color: #274c77;
  font-family: 'Lato',sans-serif;
  font-weight: 600;
  text-align: left;
  


}
.btnN{
  width: 280px;
  height: 60px;
  text-align: left;
  
}

.sidebar button:hover{
  background-color: #3d8a3c;
  color: white;
  transition-duration: 200ms;

}
.sidebarN button:hover{
  background-color: #3d8a3c;
  color: white;
  transition-duration: 200ms;

}
.index{
  background-color: antiquewhite;
}
.btn {
width: 250px;
height: 42px;
text-align: left;
border-radius:2cm;
border-left: 100px;
text-decoration: none;
}
.href{
  color: #274c77;
  font-weight: 600;
  font-size: large;
  text-align: center;
  
}
.href:hover{
  color: #274c77;
}
/* global.css */
.settings{
  margin-top:580px ;
  margin-left: 40px;
  position:absolute;

}
.settings:hover{
  cursor: pointer;
}
.recent{
  color: #274c77;
  font-weight: 700;
  max-width:690px;
  
}
.recenttop{
  background-color:#F8F8FB;
}
.recentBox{
  background-color:#F7AB13;
}
.recentBox:hover{
  background-color: #3d8a3c;
  color: white;
  transition-duration: 200ms;

}
.postJob:hover{
  background-color: #3d8a3c;
  color: white;
  transition-duration: 200ms;

}
.noti{
  font-family: 'Lato',sans-serif;
  color:#516F91
}

/* css of page3  */
.content{
  width:80%;
}
.custom{
  width: 448px;
}
.invite_cand{
  background-color: #E2F3E5;
}

.invitebtn:hover{
  background-color: #3d8a3c;
  color: white;
  transition-duration: 200ms;
}
.invite_create_btn{
  background-color: #3d8a3c;
  
}
.invite_time{
  background-color: #c5d8c5;
}
.btn_font{
  font-family: 'Lato',sans-serif;
  font-weight: 600;
  color:#274c77;
}
