.miniContainer{
    width: 100%;
}
@media (max-width:1024px){
    .container{
        margin-left: 40px;
    }
    .miniContainer{
        /* width: 130%; */
        height: auto;
    }
    .headMini{
        font-size: small;
    }
    .textMini{
        font-size: smaller;
    }
    /* .nameCol{
        width:192px !important;

    } */
    .candidateCol{

    }
    .statusCol{

    }
}

@media (max-width:768px){
    .miniContainer{
        overflow-x: auto;
        /* font-size:; */
    }
    /* .fromCol,
    .toCol{
        display: none;
    } */
    .statusCol{
        width:23% !important;
        justify-content: end;


    }

}
@media screen and (max-width:425px) {
    .miniContainer{
        overflow-x: auto;
        /* font-size:; */
    }
    .statusCol{
        width:10% !important;
        justify-content: start;
        
    }
    
}