@media (max-width:1024px){
    .container{
        margin-left: 40px;
    }
    .miniContainer{
        width: 130%;
        height: auto;
    }
    .headMini{
        font-size: small;
    }
    .textMini{
        font-size: smaller;
    }
}

@media (max-width:426px){
    .miniContainer{
        overflow-x: auto;
        /* font-size:; */
    }
    .fromCol,
    .toCol{
        display: none;
    }
    .statusCol{
        width:auto;
        justify-content: end;


    }

}