@media (max-width:600px){
    .container{
        margin-left: 40px;
    }
    .miniContainer{
        width: 130%;
        height: auto;
    }
    .headMini{
        font-size: small;
    }
    .textMini{
        font-size: smaller;
    }
}