@media (max-width: 1000px) {
    .sidebar-button {
      padding-top: 0.5rem !important; /* py-2 */
      padding-left: 1rem !important; /* pl-4 */
      border-radius: 0 0.5rem 0.5rem 0 !important; /* rounded-r-[8px] */
      font-size: 0.875rem !important; /* text-sm */
    }
  
    .icon {
      font-size: 0.875rem !important; /* text-sm */
    }
    .btnN{
        width: 140px;
        height: 40px;
        text-align: left;
        
      }
      .navbar{
        font-size: 0.875rem;
      }
  }