.container{

}

@media (max-width:768px){
    .dtContainer{
        font-size: smaller;
    }
}

@media (max-width:426px){
    .container{
        margin-left:10%;
        overflow-x: scroll;

    }

}