.container{
    margin-left: 3%;
   

}

@media (max-width:768px){
    .dtContainer{
        font-size: smaller;
    }
}

@media (max-width:426px){
    .container{
        overflow-x: scroll;

    }

}