.main_box{
    width: 650px;
    height: 96px;
}

@media (max-width:900px){
.align1{
    margin-right: 4px;
}

.main_box{
   
    font-size: smaller;
    
}
.main_box2{
    font-size:10px;
}
.box2{
    display: flex;
    justify-content: space-evenly;
    
}
.box3{
    margin-top: 1px;
}
}