.container{
    height: 600px;
    width: 876px;
    background-color: #F8F8FB;
    font-family: 'Inter';
    color:'#3C3C3C';
    margin-right: 10px;
    color: black;
}
.box{
    width: 282px;
}


.email{
    margin-left: 35%;
}


@media (max-width:768px){
    .container{
        /* width: auto !important; */
        margin-left: 40px;
        margin-right: 10px;
        height: auto;
        

    }
    .box{
        width: 150px;
        margin-left: 20px !important;
    }
    .email{
        margin-left: 180px;

    }
    .inputBar{
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 20px !important;
        
    }
    .inputBar button{
        padding: 1px;
        width: 80px;
    }
    .left{
        text-align: left;
        margin-left: 20px;
    }
}